<!doctype html>
<html>
  <head>
    
    
    <link href='http://fonts.googleapis.com/css?family=Federo|Abril+Fatface' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="jqueryui/css/custom-theme/jquery-ui-1.8.16.custom.css" type="text/css">
    <link rel="stylesheet" href="style/page.css" type="text/css">
    
    
    <title>Todo Item Keeper</title>
  
  
  </head>
  <body>
    
    
    <div id="content">
      <h1>Todo Items</h1>
      <ul id="todoList"></ul>
      <button id="addNewItem">Add Item</button>
      <form id="newItem">
          <label for="title">Title</label>
          <input type="text" id="newItemTitle" name="title">
          
          <label for="description">Description</label>
          <textarea id="newItemDescription" name="description"></textarea>
      </form>
    </div>
    
    
    <script type="template/underscore" id="todoListItemTemplate">
      <% var isFinished = typeof finished !== 'undefined'; %>
      <form onsubmit="return false;">
        <details class="todoListItem <%= isFinished ? 'finished' : '' %>">
          <summary>
            <%= title %>
            <% if(!isFinished) { %>
                <button>Finish</button>
            <% } %>
          </summary>
          <div class="info">
            <input type="hidden" name="cid" value="<%= cid %>">
            <input type="hidden" name="id" value="<%= id %>">
            <dl>
              <dt class="createdTime">Created:</dt>
              <dd> <%= new Date(created).toString('HH:mm M/d/yyyy') %></dd>
              <% if(isFinished) {%>
                <dt class="finishedTime">Finished:</dt>
                <dd> <%= new Date(created).toString('HH:mm M/d/yyyy') %></dd>
              <% } %>
            </dl>
            <p><%= description %></p>
          </div>
        </details>
      <form>
    </script>
    
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="jqueryui/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js"></script>
    <script src="lawnchair/lib/lawnchair.js"></script>
    <script src="date/date.js"></script>
    <script src="script/sync.js"></script>
    <script src="script/model.js"></script>
    <script src="script/init.js"></script>
    
    
  </body>
</html>
